html{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  background-image: url(../../resources/pattern.jpeg);
  text-align: center;
}

.item h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brush{
  background-color: mediumspringgreen;
}

#frame{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

.cost{
  color: blue;
  font-weight: bold;
}
